body.portal-page {
	background: var(--gray-50);
}

h3.portal-page {
	font-size: 1.7rem;
}

h4.portal-page {
	font-size: 1.35rem;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	z-index: 3 !important;
}
